<section class="about-section">
  <div class='hero-div'>
    <h2>So What Is This Thing?</h2>
  </div>
  <section class='card-section'>
    <div class="card-div">
      <h4>Activity</h4>
      <p>I don't need to tell you the benefits of getting outside, getting on the treadmill, or just getting off the couch. WeCompete aims to push you farther, to go get it!</p>
    </div>
    <div class="card-div">
      <h4>Competition</h4>
      <p>Who doesn't love a good old fashioned back and forth? Even in the 21st century, it can be difficult to make that happen in fitness. WeCompete brings athletes together to duke it out over the internet for those sweet, sweet bragging rights.</p>
    </div>
    <div class="card-div">
      <h4>Fun</h4>
      <p>What's the point of doing something if it's not fun? (Don't answer that) WeCompete is entertaining and addicting fun. Feel good about scoring those bragging rights while bettering yourself!</p>
    </div>
  </section>
</section>
